.header__logo {
 width: 142px;
 background-size: contain;
}
@media (max-width: 1023px) {
  .header__logo {
    padding-left: 27px;
  }
}
@media (max-width: 625px) {
  .header__logo {
    width: 104px;
  }
}