.popup__input {
  margin: 0 auto 35px;
  padding: 0;
  display: block;
  width: 84%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}