.popup__container {
  width: 430px;
  min-height: 330px;
  background-color: #FFFFFF;
  border-radius: 10px;
  grid-row-start: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}
@media (max-width: 625px) {
  .popup__container {
    width: 282px;
    margin-top: 100px;
  }
}