.popup__input-error_active {
    width: 84%;
    min-height: 30px;
    margin: 0 auto 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    visibility: visible;
}