.card__delete {
    width: 18px;
    height: 19px;
    padding: 0;
    margin: 0;
    background-image: url('../../../images/delete.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color:  transparent;
    border: none;
    transition: 0.25s ease-in-out;
    position: absolute;
    top: 22px;
    right: 22px;
}
.card__delete:hover {
    opacity: 0.6;
  }
