.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 18px;
  row-gap: 8px;
  grid-area: name;
  position: relative;
}
@media (max-width: 625px) {
  .profile__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 36px;
    gap: 14px;
  }
}